:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --disableColor: rgba(112, 112, 112, 0.168);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: NokioLight;
  src: url(./../public/fonts/NokioLight.ttf);
}

@font-face {
  font-family: NokioMedium;
  src: url(./../public/fonts/NokioMedium.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #121212;
  color: white;
  font-family: NokioLight;
}

/* constant ============================================================= */
.font-nokio {
  font-family: NokioLight;
}

.font-nokioMedium {
  font-family: NokioMedium;
}

/* color ============================== */

.botuna-btn-color {
  background-color: rgba(43, 57, 144, 1);


  /* background: rgb(39, 170, 225);
  background: linear-gradient(90deg, rgba(39, 170, 225, 1) 0%, rgba(43, 57, 144, 1) 100%); */
}

/* end color ============================== */


hr {
  border-color: var(--disableColor);
}

.myrounded {
  border-radius: 50px;
}

/* end constant ============================================================= */

.scroller:hover .scroller-slide {
  animation-play-state: paused;
}